footer.main__footer {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1rem;
	border-top: 1px solid rgba(#c8c7c7, 0.8);
	color: #fff;
	background: #1f1c2c;
	background: -webkit-linear-gradient(to right, #928dab, #1f1c2c);
	background: linear-gradient(to right, #16222a, #1f1c2c, #16222a);

	h2 {
		font-size: 1.5rem;
		margin: 0;
		font-weight: 600;
		text-align: center;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		column-gap: 2rem;

		i.fab {
			font-size: 2rem;
		}
	}
}

