@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply scroll-smooth;
}

body {
	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	@apply flex flex-col p-0 m-0 bg-slate-100 gap-y-8;
}

header,
nav,
main.main-content > section > section,
aside,
footer {
	@apply bg-slate-50 text-slate-800;
}

h1 {
	@apply text-3xl font-black;
}

h2 {
	@apply mb-2 text-2xl font-bold text-center;
}

h3 {
	@apply mb-2 text-lg font-bold;
}

a {
	@apply no-underline cursor-pointer hover:underline;
}

/* Start Header component styling */
header {
	@apply p-6 mx-3 mt-3 border shadow rounded-xl sm:mx-6 sm:p-12;
}

header > div {
	@apply flex flex-col items-center justify-center gap-y-4;
}

header > div img {
	@apply w-32 h-32 m-0 border rounded-full;
}

header > div p {
	@apply -mt-4 font-serif text-sm italic text-center text-slate-700;
}

header > div ul {
	@apply flex gap-x-8;
}

header > div ul > li > a {
	perspective: 40px;

	@apply flex flex-col items-center hover:no-underline;
}

header > div ul > li > a i.fab {
	@apply flex text-slate-700;
}

header > div ul > li > a:hover i.fab {
	@apply delay-500 animate-bounce-spin;
}

header > div ul li a span {
	@apply text-sm font-light;
}

header > div ul > li > a:hover span {
	@apply duration-1000 delay-1000 animate-pulse;
}
/* End Header component styling */

/* Start Navbar component styling */
nav {
	@apply p-6 mx-3 border shadow rounded-xl sm:mx-6 sm:px-12;
}

nav ul {
	@apply flex flex-col justify-center gap-2 sm:gap-x-3 sm:flex-row;
}

nav ul li {
	@apply px-4 py-1 font-thin bg-white border rounded shadow-sm;
}

nav ul li:hover {
	@apply font-light duration-300 bg-slate-800 text-slate-50;
}

nav ul li a {
	@apply block px-2 text-center no-underline hover:no-underline;
}
/* End Navbar component styling */

/* Start Main Section styling */
main.main-content {
	@apply container flex flex-col gap-6 px-6 mx-auto md:flex-row;
}

main.main-content > section.content {
	@apply flex flex-col gap-y-4;
}

main.main-content > section.content > [class^="content-"] {
	@apply p-6 border shadow-sm rounded-xl;
}

main.main-content > section.content > [class^="content-"] > p,
main.main-content > aside > p {
	@apply max-w-xl mx-auto mb-2 text-base font-light leading-5 text-justify text-slate-700;
}

main.main-content > section.content > [class^="content-"] > section {
	@apply grid gap-4 p-6 my-4 bg-white border shadow-sm rounded-xl lg:grid-cols-2;
}

main.main-content > section.content > .content-projects > section {
	@apply grid items-center justify-center gap-4 lg:grid-cols-2;
}

main.main-content > section.content > [class^="content-"] article {
	@apply flex flex-col p-6 my-0 border shadow-sm rounded-xl gap-y-2 bg-slate-50;
}

main.main-content > section.content > [class^="content-"] article.card {
	@apply px-0 overflow-hidden;
}

main.main-content > section.content > [class^="content-"] article.card h3,
main.main-content > section.content > [class^="content-"] article.card footer {
	@apply leading-5 text-center;
}

main.main-content > section.content > [class^="content-"] article.card img {
	@apply duration-300 hover:scale-105;
}

main.main-content > aside {
	@apply border rounded-xl p-6 shadow-sm lg:min-w-[400px];
}

main.main-content > aside > article {
	@apply p-6 my-4 bg-white border shadow-sm rounded-xl;
}

/* End Main Section styling */

/* Start Contact Me component styling */
section.content-contact {
	@apply p-3 border shadow-sm rounded-xl sm:p-6;
}

section.content-contact > form {
	@apply flex flex-col items-center justify-center py-4 gap-y-4;
}

section.content-contact > form > div.form-wrapper {
	@apply flex flex-wrap justify-center gap-4;
}

section.content-contact > form div.form-control {
	@apply flex flex-col gap-y-1 w-full min-w-[350px] max-w-md flex-1;
}

section.content-contact > form > div label {
	@apply pl-1 text-sm font-bold text-slate-700;
}

section.content-contact > form > div input,
section.content-contact > form > div textarea {
	@apply p-2 border rounded shadow border-slate-300 placeholder:font-thin;
}

section.content-contact > form button {
	@apply w-full max-w-xs p-2 font-medium text-white bg-teal-700 border-none rounded shadow hover:bg-teal-800 active:scale-95 active:duration-300;
}
/* End Contact Me component styling */

/* Start Footer component styling */
footer.main-footer {
	@apply mx-3 mb-6 border rounded-xl p-6 shadow sm:mx-6 sm:px-12 text-[2px] text-center;
}

/* Modal styling start */
.modal {
	@apply fixed top-0 left-0 z-50 w-full h-full text-white bg-black opacity-70;
	@apply flex-col items-center justify-center hidden;
}

button {
	@apply text-white bg-blue-600 border-none rounded;
	@apply px-4 py-2;
}

.is-active {
	@apply flex;
}

/* Modal styling end */
