.content {
	> section:not(.content-skills) > ul {
		display: flex;
		gap: 2rem;
		flex-direction: column;
	}

	article {
		box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);
		padding: 2rem;
		border-radius: 0.5rem;
		border: 1px solid #eaeaea;
	}

	&-education {
		&__skills {
			display: flex;
			column-gap: 1rem;

			li {
				display: flex;
				align-items: center;
				border: 1px solid #eaeaea;
				border-radius: 0.25rem;
				margin-bottom: 0.5rem;
				transition: all 250ms ease-in-out;
				color: #eaeaea;
				overflow: hidden;
				box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);

				&:hover {
					background-color: $main-color;
					color: #fff;

					span {
						color: #fff;
					}
				}

				i.fab {
					padding: 0.25rem;
					color: inherit;
					background-color: $main-color;
					margin: -1px 0;
				}

				span {
					padding: 0 0.75rem;
					font-weight: 100;
					font-size: 0.9rem;
					color: #000;
				}
			}
		}
	}

	&-experience {
		.content-experience__responsibilities {
			list-style-type: disc;
			margin-left: 2rem;
		}
	}

	&-skills {
		ul {
			list-style-type: disc;
			padding-left: 2rem;
		}
	}

	&-contact {
		padding: 0;
	}
}

.flex {
	display: flex;

	.form-control {
		display: flex;
		flex-direction: column;
	}
}

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	.blog-post {
		max-width: 35ch;
		box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);
		padding: 2rem;
		border-radius: 0.5rem;
		border: 1px solid #eaeaea;
	}
}
